<h1>Login Form</h1>
<form action="/login" method="post">
    <div>
        <label for="name">UserName</label>
        <input type="text" id="name" name="username" value="" required>
    </div>
    <br><br>
    <div>
        <label for="name">Password</label>
        <input type="password" id="password" name="password" value="" required>
    </div>
    <br><br>
    <button type="submit">Login</button>
</form>
